<a href="https://colab.research.google.com/github/ThunchanokChai/DPDM2023/blob/main/Data101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*pandas* คือ package ที่มีคนพัฒนาขึ้นมาเพื่อใช้จัดการข้อมูลที่มีลักษณะเป็นตาราง ซึ่งใน pandas เรียกว่า dataframe

In [1]:
import pandas # We use import to pandas define

In [3]:
import pandas as pd #import pandas and then name it as pd

In [5]:
data_df = pd.read_csv('/data.csv')

In [6]:
data_df

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peuqeot   1993     500         3

## Data Structure

###List
- list is a container to keep everything
- it gives attention to order of the thing in the container

In [7]:
list_a = [1,2,3,0.9,'aaz', data_df] ## (square brackets)

In [8]:
list_a

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peuqeot   1993     500         3]

indexing [ ]

In [10]:
list_a[0]

1

In [11]:
list_a[5]

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peuqeot   1993     500         3

*Negative* index to get value from the end of the list  
อ่านมาจากข้างหลังสุด

In [12]:
list_a[-1] # อ่านมาจากหลังสุด [-1] = [5]

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peuqeot   1993     500         3

In [15]:
list_b = ['pizza', list_a,9] #list can keep list

In [16]:
list_b

['pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peuqeot   1993     500         3],
 9]

In [17]:
list_b [1][3] # can use  2 indexing in the same time #งง

0.9

## String is a list of characters

In [18]:
x = 'shabu'
x[-2] #ชี้ไปที่ตัด b

'b'

In [19]:
print(list_a)

[1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peuqeot   1993     500         3]

In [20]:
list_a + list_b # mix list_a and List_b

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peuqeot   1993     500         3,
 'pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peuqeot   1993     500         3],
 9]

## Creating a list
1. สร้าง list ว่าง
2. เพิ่มสมาชิกเข้าไปใน list
3. สามารถชี้ค่าใน list จากข้างหลังได้

#1. สร้าง list ว่าง

In [22]:
list_aa = []
list_aa

[]

In [24]:
list_bb = list()
print(list_bb)

[]

2. adding a member to the list (.append())

In [41]:
list_aa.append('chiken')

In [42]:
list_aa.append('water')

In [43]:
list_aa.append('vegetable')

In [44]:
list_aa.append('rice')
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'rice',
 'plate',
 'plate',
 'spoon',
 'fork',
 'knife',
 'spoon',
 'fork',
 'knife',
 'apple',
 'chiken',
 'water',
 'vegetable',
 'rice']

In [29]:
list_aa[-1] # หลังสุด

'rice'

In [31]:
list_aa.append('plate')
list_aa

['chiken', 'water', 'vegetable', 'rice', 'rice', 'plate', 'plate']

In [33]:
list_aa.append('spoon')
list_aa.append('fork')
list_aa.append('knife')
list_aa.append('apple')

##List slicing

we cut part of the list using : (colon)
[start:end:step]

- เหมือนสัญลักษณ์ของเส้นจำนวน ตัวหน้าคือวงกลมทึบ, ตัวหลังคือวงกลมโป่ง

In [34]:
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'rice',
 'plate',
 'plate',
 'spoon',
 'fork',
 'knife',
 'spoon',
 'fork',
 'knife',
 'apple']

In [35]:
list_aa[2:7:1]

['vegetable', 'rice', 'rice', 'plate', 'plate']

In [36]:
list_aa[2:7] #ไม่ต้องใส่ 1 ก็ได้

['vegetable', 'rice', 'rice', 'plate', 'plate']

In [37]:
list_aa[2:] #เริ่มตั้งแต่ 2 ถึงตัวสุดท้าย

['vegetable',
 'rice',
 'rice',
 'plate',
 'plate',
 'spoon',
 'fork',
 'knife',
 'spoon',
 'fork',
 'knife',
 'apple']

In [38]:
list_aa[:5] #เริ่มจากตัวแรก ถึงตัวก่อน 5

['chiken', 'water', 'vegetable', 'rice', 'rice']

In [39]:
list_aa[:5:2] #เริ่มจากตัวแรก ถึงตัวก่อน 5 โดยไปที่ละ 2

['chiken', 'vegetable', 'rice']

In [40]:
list_aa[::-1] #เริ่มตามตัวแรกไปตัวสุดท้ายแต่เริ่มจากหลังสุด

['apple',
 'knife',
 'fork',
 'spoon',
 'knife',
 'fork',
 'spoon',
 'plate',
 'plate',
 'rice',
 'rice',
 'vegetable',
 'water',
 'chiken']

##### **Quiz 1**
cut the following part of lists from list_aa

## Looping
to make the code to reptitive works
[indent]
```python
for each_member_of_the_list in the_list_we_want_to_loop  :
    do something
    do another thing

this is outside the loop

```

In [45]:
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'rice',
 'plate',
 'plate',
 'spoon',
 'fork',
 'knife',
 'spoon',
 'fork',
 'knife',
 'apple',
 'chiken',
 'water',
 'vegetable',
 'rice']

In [46]:
for each in list_aa:
  print(each)

chiken
water
vegetable
rice
rice
plate
plate
spoon
fork
knife
spoon
fork
knife
apple
chiken
water
vegetable
rice

In [47]:
for i in [1,2,3]:
  print(i,end='')
  print('xx')

1xx
2xx
3xx

In [50]:
for i in list_aa:
    print(f'now i is {i}')
    print(f'I like to eat {i}\n/////////////////')

now i is chiken
I like to eat chiken
/////////////////
now i is water
I like to eat water
/////////////////
now i is vegetable
I like to eat vegetable
/////////////////
now i is rice
I like to eat rice
/////////////////
now i is rice
I like to eat rice
/////////////////
now i is plate
I like to eat plate
/////////////////
now i is plate
I like to eat plate
/////////////////
now i is spoon
I like to eat spoon
/////////////////
now i is fork
I like to eat fork
/////////////////
now i is knife
I like to eat knife
/////////////////
now i is spoon
I like to eat spoon
/////////////////
now i is fork
I like to eat fork
/////////////////
now i is knife
I like to eat knife
/////////////////
now i is apple
I like to eat apple
/////////////////
now i is chiken
I like to eat chiken
/////////////////
now i is water
I like to eat water
/////////////////
now i is vegetable
I like to eat vegetable
/////////////////
now i is rice
I like to eat rice
/////////////////

In [52]:
list(range(10)) #range ฟังก์ชันเอาไปสร้างตัวเลข range(10)= สร้างจาก 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
list(range(10,20,2)) # , ,เหมือนกับ List slicing

[10, 12, 14, 16, 18]

##finised 18 July 2023