<a href="https://colab.research.google.com/github/ThunchanokChai/DPDM2023/blob/main/Data101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*pandas* คือ package ที่มีคนพัฒนาขึ้นมาเพื่อใช้จัดการข้อมูลที่มีลักษณะเป็นตาราง ซึ่งใน pandas เรียกว่า dataframe

In [ ]:
import pandas # We use import to pandas define

In [ ]:
import pandas as pd #import pandas and then name it as pd

In [ ]:
data_df = pd.read_csv('/data.csv')

In [ ]:
data_df

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peuqeot   1993     500         3

## Data Structure

###List
- list is a container to keep everything
- it gives attention to order of the thing in the container

In [ ]:
list_a = [1,2,3,0.9,'aaz', data_df] ## (square brackets)

In [ ]:
list_a

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peuqeot   1993     500         3]

indexing [ ]

In [ ]:
list_a[0]

1

In [ ]:
list_a[5]

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peuqeot   1993     500         3

*Negative* index to get value from the end of the list  
อ่านมาจากข้างหลังสุด

In [ ]:
list_a[-1] # อ่านมาจากหลังสุด [-1] = [5]

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peuqeot   1993     500         3

In [ ]:
list_b = ['pizza', list_a,9] #list can keep list

In [ ]:
list_b

['pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peuqeot   1993     500         3],
 9]

In [ ]:
list_b [1][3] # can use  2 indexing in the same time #งง

0.9

## String is a list of characters

In [ ]:
x = 'shabu'
x[-2] #ชี้ไปที่ตัด b

'b'

In [ ]:
print(list_a)

[1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peuqeot   1993     500         3]

In [ ]:
list_a + list_b # mix list_a and List_b

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peuqeot   1993     500         3,
 'pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peuqeot   1993     500         3],
 9]

## Creating a list
1. สร้าง list ว่าง
2. เพิ่มสมาชิกเข้าไปใน list
3. สามารถชี้ค่าใน list จากข้างหลังได้

#1. สร้าง list ว่าง

In [ ]:
list_aa = []
list_aa

[]

In [ ]:
list_bb = list()
print(list_bb)

[]

2. adding a member to the list (.append())

In [ ]:
list_aa.append('chiken')

In [ ]:
list_aa.append('water')

In [ ]:
list_aa.append('vegetable')

In [ ]:
list_aa.append('rice')
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'rice',
 'plate',
 'plate',
 'spoon',
 'fork',
 'knife',
 'spoon',
 'fork',
 'knife',
 'apple',
 'chiken',
 'water',
 'vegetable',
 'rice']

In [ ]:
list_aa[-1] # หลังสุด

'rice'

In [ ]:
list_aa.append('plate')
list_aa

['chiken', 'water', 'vegetable', 'rice', 'rice', 'plate', 'plate']

In [ ]:
list_aa.append('spoon')
list_aa.append('fork')
list_aa.append('knife')
list_aa.append('apple')

##List slicing

we cut part of the list using : (colon)
[start:end:step]

- เหมือนสัญลักษณ์ของเส้นจำนวน ตัวหน้าคือวงกลมทึบ, ตัวหลังคือวงกลมโป่ง

In [ ]:
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'rice',
 'plate',
 'plate',
 'spoon',
 'fork',
 'knife',
 'spoon',
 'fork',
 'knife',
 'apple']

In [ ]:
list_aa[2:7:1]

['vegetable', 'rice', 'rice', 'plate', 'plate']

In [ ]:
list_aa[2:7] #ไม่ต้องใส่ 1 ก็ได้

['vegetable', 'rice', 'rice', 'plate', 'plate']

In [ ]:
list_aa[2:] #เริ่มตั้งแต่ 2 ถึงตัวสุดท้าย

['vegetable',
 'rice',
 'rice',
 'plate',
 'plate',
 'spoon',
 'fork',
 'knife',
 'spoon',
 'fork',
 'knife',
 'apple']

In [ ]:
list_aa[:5] #เริ่มจากตัวแรก ถึงตัวก่อน 5

['chiken', 'water', 'vegetable', 'rice', 'rice']

In [ ]:
list_aa[:5:2] #เริ่มจากตัวแรก ถึงตัวก่อน 5 โดยไปที่ละ 2

['chiken', 'vegetable', 'rice']

In [ ]:
list_aa[::-1] #เริ่มตามตัวแรกไปตัวสุดท้ายแต่เริ่มจากหลังสุด

['apple',
 'knife',
 'fork',
 'spoon',
 'knife',
 'fork',
 'spoon',
 'plate',
 'plate',
 'rice',
 'rice',
 'vegetable',
 'water',
 'chiken']

##### **Quiz 1**
cut the following part of lists from list_aa

## Looping
to make the code to reptitive works
[indent]
```python
for each_member_of_the_list in the_list_we_want_to_loop  :
    do something
    do another thing

this is outside the loop

```

In [ ]:
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'rice',
 'plate',
 'plate',
 'spoon',
 'fork',
 'knife',
 'spoon',
 'fork',
 'knife',
 'apple',
 'chiken',
 'water',
 'vegetable',
 'rice']

In [ ]:
for each in list_aa:
  print(each)

chiken
water
vegetable
rice
rice
plate
plate
spoon
fork
knife
spoon
fork
knife
apple
chiken
water
vegetable
rice

In [ ]:
for i in [1,2,3]:
  print(i,end='')
  print('xx')

1xx
2xx
3xx

In [ ]:
for i in list_aa:
    print(f'now i is {i}')
    print(f'I like to eat {i}\n/////////////////')

now i is chiken
I like to eat chiken
/////////////////
now i is water
I like to eat water
/////////////////
now i is vegetable
I like to eat vegetable
/////////////////
now i is rice
I like to eat rice
/////////////////
now i is rice
I like to eat rice
/////////////////
now i is plate
I like to eat plate
/////////////////
now i is plate
I like to eat plate
/////////////////
now i is spoon
I like to eat spoon
/////////////////
now i is fork
I like to eat fork
/////////////////
now i is knife
I like to eat knife
/////////////////
now i is spoon
I like to eat spoon
/////////////////
now i is fork
I like to eat fork
/////////////////
now i is knife
I like to eat knife
/////////////////
now i is apple
I like to eat apple
/////////////////
now i is chiken
I like to eat chiken
/////////////////
now i is water
I like to eat water
/////////////////
now i is vegetable
I like to eat vegetable
/////////////////
now i is rice
I like to eat rice
/////////////////

In [ ]:
list(range(10)) #range ฟังก์ชันเอาไปสร้างตัวเลข range(10)= สร้างจาก 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(10,20,2)) # , ,เหมือนกับ List slicing

[10, 12, 14, 16, 18]

##finised 18 July 2023

##Nested loop

loop ซ้อน loop

In [4]:
for i in range(3):
    print(f'i = {i} (outer loop)')
    for j in range(2):
      print(f'i = {i}, j = {j}, i+j = {i+j}(inner loop)') # you can note that which one is outer and inner

i = 0 (outer loop)
i = 0, j = 0, i+j = 0(inner loop)
i = 0, j = 1, i+j = 1(inner loop)
i = 1 (outer loop)
i = 1, j = 0, i+j = 1(inner loop)
i = 1, j = 1, i+j = 2(inner loop)
i = 2 (outer loop)
i = 2, j = 0, i+j = 2(inner loop)
i = 2, j = 1, i+j = 3(inner loop)

# Example 1

สร้าง list [[1],[1,1], [1,1,1],...,[1,1,1,1,1,1,1,1,1,1] โดยใช้ for loop

In [8]:
list_A = []
for i in range (10) :
  AA = []
  for j in range (i+1):
    A=1
    AA.append(A)
  list_A.append(AA)

In [9]:
list_A

[[1],
 [1, 1],
 [1, 1, 1],
 [1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

In [14]:
## answer
list_ans = []
print(f'list_ans = {list_ans}\n ---------')
for i in range(1, 11):
    temp = []
    #print(f'temp = {temp}')
    for j in range(i):
        temp.append(1)
    print(f'i ={i} j = {j} temp = {temp}')
    list_ans.append(temp)
    print(f'list_ans = {list_ans}\n ---------')

print(list_ans)

list_ans = []
 ---------
i =1 j = 0 temp = [1]
list_ans = [[1]]
 ---------
i =2 j = 1 temp = [1, 1]
list_ans = [[1], [1, 1]]
 ---------
i =3 j = 2 temp = [1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1]]
 ---------
i =4 j = 3 temp = [1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1]]
 ---------
i =5 j = 4 temp = [1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]
 ---------
i =6 j = 5 temp = [1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]]
 ---------
i =7 j = 6 temp = [1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]]
 ---------
i =8 j = 7 temp = [1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]
 ---------
i =9 j = 8 temp = [1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1]]
 ---------
i =10 j = 9 temp = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]
 ---------
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

#Quiz 2
create a list
[[a],[a,b], [a,b,c] ,...,[a,b,c,d,e,f,g,h,i] with for loop

In [45]:
list_Quiz = []
for i in range (65,75) :
  AA = []
  print(chr(i))
  for j in range (65+1):
    A=65
    AA.append(A)
  list_A.append(AA)

A
B
C
D
E
F
G
H
I
J

In [56]:
# answer Quiz2

listofletters = ['a','b','c','d','e','f','g','h','i','j']
list_A = []
for i in range (1,11):
        list_A.append(listofletters[:i])

In [57]:
list_A

[['a'],
 ['a', 'b'],
 ['a', 'b', 'c'],
 ['a', 'b', 'c', 'd'],
 ['a', 'b', 'c', 'd', 'e'],
 ['a', 'b', 'c', 'd', 'e', 'f'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']]

##Conditional Statement (if statement)

if เงื่อนไขที่เราจะตรวจสอบ (โดยอาศัยสัญลักษณ์เหล่านี้ ==, !=, <, >, <=, >=, in, is_null(), and, or, &, |) :

     Do this when the condition is True #1
     Do this when the condition is True #2

In [59]:
if 1<5 :
  print('yes')

yes

## Conditional Statement (if statement)


``` python
if เงื่อนไขที่เราจะตรวจสอบ (โดยอาศัยสัญลักษณ์เหล่านี้ ==, !=, <, >, <=, >=, in, is_null()) :
    Do this when the condition is True #1
    Do this when the condition is True #2
elif เงื่อนไขที่เราจะตรวจสอบต่อไปนี้ถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    Do this when the condition 1 is False and condition 2 is True #1
    Do this when the condition 1 is False and condition 2 is True #2
elif เงื่อนไขที่เราจะตรวจสอบต่อไปนี้ถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
else: # ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ x
```

In [61]:
x = 12
if x< 5:
  print('yes')
else:
  print('no')

no

### Example
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช่ function min (ใช้ for กับ if)

In [64]:
list_ex = [1,5,9,-19,-2,0]

In [65]:
minimum = list_ex[0]
for number in list_ex:
    if minimum > number:
       minimum = number
print(minimum)

-19

In [66]:
##เฉลย
min = 100000000
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
    print('start condition')
    if i < min:
        print(f'i < min, update min -> {i}')
        min = i
    else:
        print('i >= min, not update')
    print('end condition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 100000000
start condition
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = 9, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
now i = -2, min = -19
start condition
i >= min, not update
end condition, go to next i
now i = 0, min = -19
start condition
i >= min, not update
end condition, go to next i
-19

# HW1 sort the number in

```list_ex```without using max() function (you can use only for and if)

hand in before 8/8/23

**Python infinity**

Representing infinity as an Integer in python

In [67]:
float('inf')

inf

In [68]:
float('-inf')

-inf

2. using Python’s math module:

In [69]:
import math

In [70]:
math.inf

inf

In [72]:
-math.inf

-inf

##Function

```
def function_name (input1,input2,...):
  process #1
  process #2    
  return output
```

**ส่วนประกอบสำคัญ**
-functio name

- input

- process (ไม่มีไม่ได้)

- output

# Example 1

In [73]:
def find_min(list_ex):
    min = 100000000
    for x in list_ex:
        if x < min:
            min = x

    return min

In [75]:
list_A = [1,5,9,-19,-2,0]
XXX = find_min(list_A)
print(XXX)

-19

In [74]:
find_min([-9,99,0,-35])

-35

#### Example 2
Function without Output
- cannot set a value to a variable

In [ ]:
def find_min2(list_ex): ## no return
    min = 100000000
    for x in list_ex:
        if x < min:
            min = x
    print(min)

In [81]:
find_min(list_A)

-19

In [82]:
YYY = find_min(list_A) ## ไม่เก็บค่า แต่print ออกมาเลย

In [83]:
YYY

-19

#### Example 3
Function แบบไม่มี Input

In [84]:
def Pi_val():
    return 3.1416

In [85]:
r = 10
print(f'พื้นที่วงกลมที่มีเส้นผ่านศูนย์กลางเท่ากับ {r} คือ {Pi_val()*r*r}')

พื้นที่วงกลมที่มีเส้นผ่านศูนย์กลางเท่ากับ 10 คือ 314.16

#### Example 4
Function ที่มีแต่ Process อย่างเดียว

In [86]:
def draw_rectangle():
    print('======')
    print('|    |')
    print('======')

In [88]:
draw_rectangle()

======
|    |
======

In [89]:
def draw_hello():
    print('============')
    print('|  Hello  |')
    print('============')

In [90]:
draw_hello()

============
|  Hello  |
============

Function without Process it cannot Run

In [91]:
def draw_rectangle():

SyntaxError: ignored

**type of input(หรือ paremeter, หรือ argument)**

- non-default argument : you need to give an input to this
-default argument: you can ignore it because it has a default value

In [93]:
def draw_rectangle(dbbound=True): ## ค่า default คือ True เป็น input ที่ใส่ หรือไม่่ใส่ก็ได้
    if dbbound:
        print('========')
        print('||    ||')
        print('========')
    else:
        print('________')
        print('|      |')
        print('--------')

In [94]:
draw_rectangle()

========
||    ||
========

In [95]:
draw_rectangle(True)

========
||    ||
========

In [96]:
draw_rectangle(False)

________
|      |
--------

 ไม่มี input ที่เป็นค่า default

In [97]:
find_min2() ## ไม่มี input ที่เป็นค่า default

NameError: ignored

In [101]:
#''' นำ input ที่จำเป็นต้องใส่มาไว้ด้านหน้าก่อน
def draw_rectangle(size,dbbound=True): ## size is non-default argument
    if dbbound:
        up = '='
        space = ' '
        print(f'{(size+4)*up}')
        print(f'||{size*space}||')
        print(f'{(size+4)*up}')
    else:
        up = '-'
        space = ' '
        print(f'{(size+4)*up}')
        print(f'|{size*space}|')
        print(f'{(size+4)*up}')

In [99]:
draw_rectangle() ## ถ้าไม่ใส่ input ที่จำเป็นต้องใส่ จะ Errors

TypeError: ignored

ไม่ได้ใส่ parameter ตามลำดับ แต่ใส่ parameter ที่จำเป็นต้องใส่ก็สามารถ run ได้ ถ้าใส่ชื่อของ parameter ด้วย

In [102]:
draw_rectangle(dbbound=False,size=7)

-----------
|       |
-----------

In [103]:
draw_rectangle(size=7)

===========
||       ||
===========

#### Example

สร้าง function

- วาด 4 เหลี่ยม ให้สามารถกำหนด ความยาว เเละ ความกว้าง ได้
- เเต่ถ้าใส่ parameter ตัวเดียวก็ให้วาด 4 เหลี่ยม จัสตุรัส ที่มี ความยาว เเละ ความกว้าง เท่ากับ parameter ที่ใส่

ให้ปริ้น ความกว้างxความยาวของสี่เหลี่ยม


(ให้ปริ้น ความกว้าง x ความยาวของ สี่เหลี่ยม)

**ตัวอย่าง**

rext(3,5)
> 3 x 5

rext(7)

> 7 x 7

In [104]:
def draw_rectagle(W, H): #เติมค่่า ตัวหนึ่งได้เเต่ใช้สองตัว
    print(f'{W} x {H}')
draw_rectagle(3, 5)

3 x 5

In [105]:
def draw_rectagle(W, H=True): #เติมค่่า ตัวหนึ่งได้เเต่ใช้สองตัว
    if H == True: #เช็ค if parameter 1 ตัว
        H=W
    print(f'{W} x {H}')

In [106]:
draw_rectagle(3)

3 x 3

In [107]:
draw_rectagle(3,5)

3 x 5

In [108]:
def draw_rectagle(W, H=True):
    if H ==True:
       up = '-'
       side = '|'
       space = W-1
       print(f'{W*up}')
       for i in range(W):
           print(f'{side}{space*" "}{side}')
       print(f'{W*up}')
       print((f'{W} x {W}'))
    else:
        up = '-'
        side = '|'
        space = W-1
        print(f'{W*up}')
        for i in range(H):
            print(f'{side}{space*" "}{side}')
        print(f'{W*up}')
        print((f'{W} x {H}'))

In [109]:
draw_rectagle(W=5)

-----
|    |
|    |
|    |
|    |
|    |
-----
5 x 5

In [110]:
draw_rectagle(W=5,H=10)

-----
|    |
|    |
|    |
|    |
|    |
|    |
|    |
|    |
|    |
|    |
-----
5 x 10

In [111]:
draw_rectagle(W=5,H=5)

-----
|    |
|    |
|    |
|    |
|    |
-----
5 x 5

In [112]:
draw_rectagle(H=5) ##เพราะไม่ใส่ input ที่ต้องใส่

TypeError: ignored

# HW2
create a function that sort a list and you can spectify to the function that to sort it assending or descending

1. sort a list
2. can spectify to the function that sort it assending as default
3. have 2 argument one default and one non-default