<a href="https://colab.research.google.com/github/ThunchanokChai/DPDM2023/blob/main/Data101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*pandas* คือ package ที่มีคนพัฒนาขึ้นมาเพื่อใช้จัดการข้อมูลที่มีลักษณะเป็นตาราง ซึ่งใน pandas เรียกว่า dataframe

In [ ]:
import pandas # We use import to pandas define

In [ ]:
import pandas as pd #import pandas and then name it as pd

In [ ]:
data_df = pd.read_csv('/data.csv')

In [ ]:
data_df

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peuqeot   1993     500         3

## Data Structure

###List
- list is a container to keep everything
- it gives attention to order of the thing in the container

In [ ]:
list_a = [1,2,3,0.9,'aaz', data_df] ## (square brackets)

In [ ]:
list_a

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peuqeot   1993     500         3]

indexing [ ]

In [ ]:
list_a[0]

1

In [ ]:
list_a[5]

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peuqeot   1993     500         3

*Negative* index to get value from the end of the list  
อ่านมาจากข้างหลังสุด

In [ ]:
list_a[-1] # อ่านมาจากหลังสุด [-1] = [5]

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peuqeot   1993     500         3

In [ ]:
list_b = ['pizza', list_a,9] #list can keep list

In [ ]:
list_b

['pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peuqeot   1993     500         3],
 9]

In [ ]:
list_b [1][3] # can use  2 indexing in the same time #งง

0.9

## String is a list of characters

In [ ]:
x = 'shabu'
x[-2] #ชี้ไปที่ตัด b

'b'

In [ ]:
print(list_a)

[1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peuqeot   1993     500         3]

In [ ]:
list_a + list_b # mix list_a and List_b

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peuqeot   1993     500         3,
 'pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peuqeot   1993     500         3],
 9]

## Creating a list
1. สร้าง list ว่าง
2. เพิ่มสมาชิกเข้าไปใน list
3. สามารถชี้ค่าใน list จากข้างหลังได้

#1. สร้าง list ว่าง

In [ ]:
list_aa = []
list_aa

[]

In [ ]:
list_bb = list()
print(list_bb)

[]

2. adding a member to the list (.append())

In [ ]:
list_aa.append('chiken')

In [ ]:
list_aa.append('water')

In [ ]:
list_aa.append('vegetable')

In [ ]:
list_aa.append('rice')
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'rice',
 'plate',
 'plate',
 'spoon',
 'fork',
 'knife',
 'spoon',
 'fork',
 'knife',
 'apple',
 'chiken',
 'water',
 'vegetable',
 'rice']

In [ ]:
list_aa[-1] # หลังสุด

'rice'

In [ ]:
list_aa.append('plate')
list_aa

['chiken', 'water', 'vegetable', 'rice', 'rice', 'plate', 'plate']

In [ ]:
list_aa.append('spoon')
list_aa.append('fork')
list_aa.append('knife')
list_aa.append('apple')

##List slicing

we cut part of the list using : (colon)
[start:end:step]

- เหมือนสัญลักษณ์ของเส้นจำนวน ตัวหน้าคือวงกลมทึบ, ตัวหลังคือวงกลมโป่ง

In [ ]:
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'rice',
 'plate',
 'plate',
 'spoon',
 'fork',
 'knife',
 'spoon',
 'fork',
 'knife',
 'apple']

In [ ]:
list_aa[2:7:1]

['vegetable', 'rice', 'rice', 'plate', 'plate']

In [ ]:
list_aa[2:7] #ไม่ต้องใส่ 1 ก็ได้

['vegetable', 'rice', 'rice', 'plate', 'plate']

In [ ]:
list_aa[2:] #เริ่มตั้งแต่ 2 ถึงตัวสุดท้าย

['vegetable',
 'rice',
 'rice',
 'plate',
 'plate',
 'spoon',
 'fork',
 'knife',
 'spoon',
 'fork',
 'knife',
 'apple']

In [ ]:
list_aa[:5] #เริ่มจากตัวแรก ถึงตัวก่อน 5

['chiken', 'water', 'vegetable', 'rice', 'rice']

In [ ]:
list_aa[:5:2] #เริ่มจากตัวแรก ถึงตัวก่อน 5 โดยไปที่ละ 2

['chiken', 'vegetable', 'rice']

In [ ]:
list_aa[::-1] #เริ่มตามตัวแรกไปตัวสุดท้ายแต่เริ่มจากหลังสุด

['apple',
 'knife',
 'fork',
 'spoon',
 'knife',
 'fork',
 'spoon',
 'plate',
 'plate',
 'rice',
 'rice',
 'vegetable',
 'water',
 'chiken']

##### **Quiz 1**
cut the following part of lists from list_aa

## Looping
to make the code to reptitive works
[indent]
```python
for each_member_of_the_list in the_list_we_want_to_loop  :
    do something
    do another thing

this is outside the loop

```

In [ ]:
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'rice',
 'plate',
 'plate',
 'spoon',
 'fork',
 'knife',
 'spoon',
 'fork',
 'knife',
 'apple',
 'chiken',
 'water',
 'vegetable',
 'rice']

In [ ]:
for each in list_aa:
  print(each)

chiken
water
vegetable
rice
rice
plate
plate
spoon
fork
knife
spoon
fork
knife
apple
chiken
water
vegetable
rice

In [ ]:
for i in [1,2,3]:
  print(i,end='')
  print('xx')

1xx
2xx
3xx

In [ ]:
for i in list_aa:
    print(f'now i is {i}')
    print(f'I like to eat {i}\n/////////////////')

now i is chiken
I like to eat chiken
/////////////////
now i is water
I like to eat water
/////////////////
now i is vegetable
I like to eat vegetable
/////////////////
now i is rice
I like to eat rice
/////////////////
now i is rice
I like to eat rice
/////////////////
now i is plate
I like to eat plate
/////////////////
now i is plate
I like to eat plate
/////////////////
now i is spoon
I like to eat spoon
/////////////////
now i is fork
I like to eat fork
/////////////////
now i is knife
I like to eat knife
/////////////////
now i is spoon
I like to eat spoon
/////////////////
now i is fork
I like to eat fork
/////////////////
now i is knife
I like to eat knife
/////////////////
now i is apple
I like to eat apple
/////////////////
now i is chiken
I like to eat chiken
/////////////////
now i is water
I like to eat water
/////////////////
now i is vegetable
I like to eat vegetable
/////////////////
now i is rice
I like to eat rice
/////////////////

In [ ]:
list(range(10)) #range ฟังก์ชันเอาไปสร้างตัวเลข range(10)= สร้างจาก 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(10,20,2)) # , ,เหมือนกับ List slicing

[10, 12, 14, 16, 18]

##finised 18 July 2023

##Nested loop

loop ซ้อน loop

In [4]:
for i in range(3):
    print(f'i = {i} (outer loop)')
    for j in range(2):
      print(f'i = {i}, j = {j}, i+j = {i+j}(inner loop)') # you can note that which one is outer and inner

i = 0 (outer loop)
i = 0, j = 0, i+j = 0(inner loop)
i = 0, j = 1, i+j = 1(inner loop)
i = 1 (outer loop)
i = 1, j = 0, i+j = 1(inner loop)
i = 1, j = 1, i+j = 2(inner loop)
i = 2 (outer loop)
i = 2, j = 0, i+j = 2(inner loop)
i = 2, j = 1, i+j = 3(inner loop)

# Example 1

สร้าง list [[1],[1,1], [1,1,1],...,[1,1,1,1,1,1,1,1,1,1] โดยใช้ for loop

In [8]:
list_A = []
for i in range (10) :
  AA = []
  for j in range (i+1):
    A=1
    AA.append(A)
  list_A.append(AA)

In [9]:
list_A

[[1],
 [1, 1],
 [1, 1, 1],
 [1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

In [14]:
## answer
list_ans = []
print(f'list_ans = {list_ans}\n ---------')
for i in range(1, 11):
    temp = []
    #print(f'temp = {temp}')
    for j in range(i):
        temp.append(1)
    print(f'i ={i} j = {j} temp = {temp}')
    list_ans.append(temp)
    print(f'list_ans = {list_ans}\n ---------')

print(list_ans)

list_ans = []
 ---------
i =1 j = 0 temp = [1]
list_ans = [[1]]
 ---------
i =2 j = 1 temp = [1, 1]
list_ans = [[1], [1, 1]]
 ---------
i =3 j = 2 temp = [1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1]]
 ---------
i =4 j = 3 temp = [1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1]]
 ---------
i =5 j = 4 temp = [1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]
 ---------
i =6 j = 5 temp = [1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]]
 ---------
i =7 j = 6 temp = [1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]]
 ---------
i =8 j = 7 temp = [1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]
 ---------
i =9 j = 8 temp = [1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1]]
 ---------
i =10 j = 9 temp = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]
 ---------
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

#Quiz 2
create a list
[[a],[a,b], [a,b,c] ,...,[a,b,c,d,e,f,g,h,i] with for loop

In [45]:
list_Quiz = []
for i in range (65,75) :
  AA = []
  print(chr(i))
  for j in range (65+1):
    A=65
    AA.append(A)
  list_A.append(AA)

A
B
C
D
E
F
G
H
I
J

In [56]:
# answer Quiz2

listofletters = ['a','b','c','d','e','f','g','h','i','j']
list_A = []
for i in range (1,11):
        list_A.append(listofletters[:i])

In [57]:
list_A

[['a'],
 ['a', 'b'],
 ['a', 'b', 'c'],
 ['a', 'b', 'c', 'd'],
 ['a', 'b', 'c', 'd', 'e'],
 ['a', 'b', 'c', 'd', 'e', 'f'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']]